@media only screen and (max-width: 600px) {
    .container {
		width:  100%;
    }

    .blockquote {
    	margin: 0;
    }

    .header {
    	padding: 10px 15px;
    	text-align: center;
    	&__logo {
			float: none;
		}
		&__nav {
			display: none;
		}
    }

    .hamburger {
    	display: inline-block;
    }
}